@using eTickets.Data.Enums
@using eTickets.Data.ViewModels
@model OrderVM

@{
    ViewData["Title"] = "Create tour order";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Edit tour order</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="TourId" />
                    <input type="hidden" asp-for="TourName" />

                    <h2>@Model.TourName</h2>

                    <div class="form-group">
                        <label asp-for="ContactEmail" class="control-label"></label>
                        <input asp-for="ContactEmail" class="form-control" />
                        <span asp-validation-for="ContactEmail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactPhone" class="control-label"></label>
                        <input asp-for="ContactPhone" class="form-control" />
                        <span asp-validation-for="ContactPhone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PersonQuantity" class="control-label"></label>
                        <input asp-for="PersonQuantity" class="form-control" />
                        <span asp-validation-for="PersonQuantity" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Comment" class="control-label"></label>
                        <textarea asp-for="Comment" class="form-control"></textarea>
                        <span asp-validation-for="Comment" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        @if(@Model.OrderStatus == OrderStatus.Pending)
                        {
                            <input type="submit" value="Save changes" class="btn btn-outline-success float-right" />
                        }
                         <a class="btn btn-secondary" asp-area="" asp-controller="Orders" asp-action="Index"> Back without saving</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script>
    </script>
}