@model List<UserTourBookmark>

@{ 
    ViewData["Title"] = "All bookmarks";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>List of all your bookmarks</h4>
        </p>

        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>Movie ID</th>
                    <th>Movie Description</th>
                    <th>Management</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var bookmark in Model)
                {
                <tr class="text-center">
                    <td class="align-middle">@bookmark.Tour.Name</td>  
                    <td class="align-middle">@bookmark.Tour.Description</td>
                    <td class="align-middle">
                    <form asp-action="Delete" asp-route-id="@bookmark.Tour.Id">
                            <input type="submit" value="Delete" class="btn btn-danger align-middle" />
                     </form>
                    </td>
                 </tr>
                }
            </tbody>
        </table>

    </div>
</div>
